{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!--<meta name="viewport" content="width=device-width">
	<title>stopover_food</title>-->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" href="{% static 'stopover_food_app/index.css' %}">

	<title>下車飯</title>
	<link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
<div class="container">
   <h1>Ge Sha<br>Meshi</h1>
</div>
</header>
	<div id="content">
		<form action="." method="get" name="fm" onsubmit="wait()">
			<div class="form-group">
				<div class="col-sm-12">
					<input type="search" class="form-control" placeholder="路線名(例: JR山手線・東急東横線)" name="line" required>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<input type="search" class="form-control" placeholder="乗車駅名(例: 新宿・横浜)" name="start" required>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<input type="search" class="form-control" placeholder="降車駅名(例: 渋谷・自由が丘)" name="end" required>
				</div>
			</div>
			<!-- -->
			<div class="cp_ipselect">
				<select class="cp_sl06" name="category" required>
					<option value="" hidden disabled selected></option>
					<option value="ra-men">ラーメン・つけ麺</option>
					<option value="cafe">カフェ・喫茶店</option>
				</select>
				<span class="cp_sl06_highlight"></span>
				<span class="cp_sl06_selectbar"></span>
				<label class="cp_sl06_selectlabel">カテゴリーを選択してください</label>
			</div>
			<p><input class="btn-square" type="submit" value="下車！"></p>
		</form>
		<div id="loading"></div>
		<div id="foodList">
			{% for food in data %}
			<div class="food" onclick="location = '{{ food.url }}';">
				<h5 class="food-header" style="margin-bottom: 0; white-space: nowrap; overflow: auto;"><a href='{{ food.url }}'>{{food.title}}</a></h5>
				<p style="text-align: center; font-size: 85%; font-family: Helvetica; margin-bottom: 0">{{ food.pr_text }}<br>
				<hr style="width: 90%; align: center; margin-top: 0"></p>
				<div class="food-info">
					<img class="food-img" src="{{ food.img }}" align="left" onerror="this.src='http://design-ec.com/d/e_others_50/l_e_others_500.png'"/>
					<p style="color: #a9a9a9; font-size: 85%; margin: 0.1em; white-space: nowrap; overflow: auto;">{{food.station}} / {{food.category}}</p>
					<u><p style="margin: 0">基本情報</p></u>
					<p class="food-info2" style="font-size: 90%; margin: 0.1em; white-space: nowrap; overflow: auto;">{{ food.open_time }}</p>
					<p class="food-info2" style="font-size: 90%; margin: 0.1em; white-space: nowrap; overflow: auto;">{{ food.tel }}</p>
					<p class="food-info2" style="font-size: 90%; margin: 0.1em; white-space: nowrap; overflow: auto;">{{ food.address }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
		<p>ページ数: {{ pagecount }}</p>
		<p id="pages"></p>
	</div>
<footer>
	<div class="container">
		<a href="https://api.gnavi.co.jp/api/scope/" target="_blank">
			<img src="https://api.gnavi.co.jp/api/img/credit/api_155_20.gif" width="155" height="20" border="0" alt="グルメ情報検索サイト　ぐるなび">
		</a>
	</div>
</footer>
	<script>
		function wait() {
			loading.innerHTML = "<div class=\"demo_stage\"><div class=\"demo_wrap\" data-order=\"right\"><span class=\"demo_item anime\"></span></div></div>";
		}

		if (foodList.innerHTML.trim() == "") {
			foodList.innerHTML = "<p>{{ message }}</p>";
		}

		fm.line.value = new URL(location).searchParams.get('line');
		fm.start.value = new URL(location).searchParams.get('start');
		fm.end.value = new URL(location).searchParams.get('end');
		fm.category.value = new URL(location).searchParams.get('category');
		page = new URL(location).searchParams.get('page');

		if (isFinite(page) && page != null) {
			page = page - 0;
			if (!Number.isInteger(page)) {
				page = 1;
			}
		} else {
			page = 1;
		}
		if (page - 1 >= 1) {
			var ancPrev = document.createElement("a");
			query = new URLSearchParams({
				"line": document.fm.line.value,
				"start": document.fm.start.value,
				"end": document.fm.end.value,
				"category": document.fm.category.value,
				"page": page - 1
			}).toString();
			ancPrev.setAttribute("href", "javascript:location='?" + query + "'")
			ancPrev.innerText = "Prev";
			pages.appendChild(ancPrev);
		}
		var currentPage = document.createElement("span");
		currentPage.innerText = "  現在のページ: " + page + "  ";
		pages.appendChild(currentPage);
		if (page + 1 <= {{ pagecount }}) {
			var ancNext = document.createElement("a");
			query = new URLSearchParams({
				"line": document.fm.line.value,
				"start": document.fm.start.value,
				"end": document.fm.end.value,
				"category": document.fm.category.value,
				"page": page + 1
			}).toString();
			ancNext.setAttribute("href", "javascript:location='?" + query + "'")
			ancNext.innerText = "Next";
			pages.appendChild(ancNext);
		}
	</script>
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
